<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <form method="POST" action="/articles/<%= article.id %>/edit?_method=put">
      <div>
        Title
      </div>
      <div>
        <input type="text" name="article[title]" placeholder="title" value="<%= article.title %>">
      </div>
      <div>
        Image
      </div>
      <div>
        <input type="text" name="article[img_url]" placeholder="image url" value="<%= article.img_url %>">
      </div>
      <div>
        Text Field
      </div>
      <div>
        <textarea name="article[content]" placeholder="write"><%= article.content %></textarea>
      </div>
      <div>
        Category
      </div>
      <div>
        <select class="" name="article[category]">
          <option value="1">A</option>
          <option value="2">B</option>
          <option value="3">C</option>
          <option value="4">D</option>
        </select>
      </div>
      <div>
        Author
      </div>
      <div>
        <input type="text" name="article[author]" placeholder="name" value="<%= article.author %>">
      </div>
      <div>
        <input type="hidden" name="article[id]" value="<%= article.id %>">
      </div>
      <div>
        <button type="submit">Submit Change</button>
        <button type="submit" class="close-edit-modal-btn">CLOSE</button>
      </div>
    </form>

    <button class="open-modal-btn" name="button">DELETE</button>

    <div class="delete-modal-container">
      <div class="delete-modal-content">
        <p>
          Are you sure you want to delete?
        </p>
        <button class="delete-article" data-id=<%= article.id %>>DELETE</button>
        <button class="close-modal-btn">CLOSE</button>
      </div>
    </div>

  </body>
</html>
