<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>
    <a class="" href="/articles/new">+</a>

    <% articles.forEach((article) => { %>
      <div class="">
        <a href="http://localhost:3000/articles/<%= article.id %>"><img src="<%= article.img_url %>" width="300px" alt=""></a>
        <p><%= article.title %></p>
        <p><%= article.content %></p>
        <p><%= article.category %></p>
        <p><%= article.author %></p>
        <p><%= article.date_created %></p>
      </div>
    <% }); %>

  </body>
</html>
