<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>
    <a class="" href="/articles/new">+</a>

    <h1>HOME PAGE</h1>
    <select class="" name="articles[category]" onChange="window.location.href=this.value">
      <option value="http://localhost:3000/articles/">Show All</option>
      <option value="http://localhost:3000/articles/?category=Culture">Culture</option>
      <option value="http://localhost:3000/articles/?category=Art+and+Design">Art and Design</option>
      <option value="http://localhost:3000/articles/?category=Architecture">Architecture</option>
      <option value="http://localhost:3000/articles/?category=Food">Food</option>
    </select>

    <% articles.forEach((article) => { %>
      <div class="">
        <a href="http://localhost:3000/articles/<%= article.id %>"><img src="<%= article.img_url %>" width="300px" alt=""></a>
        <p><%= article.title %></p>
        <p><%= article.content %></p>
        <p><%= article.category %></p>
        <p><%= article.author %></p>
        <p><%= article.date_created %></p>
      </div>
    <% }); %>

  </body>
</html>
