<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>
    <a class="" href="/articles/new">+</a>

    <% articles.forEach((article) => { %>
      <div class="">
        <img src="<%= articles[0].img_url %>" width="300px" alt="">
        <p><%= article.title %></p>
        <p><%= article.content %></p>
        <p><%= article.category %></p>
        <p><%= article.author %></p>
      </div>
    <% }); %>

  </body>
</html>
