<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>
    <!-- <a class="" href="/articles/new">+</a> -->

    <div class="">
      <img src="<%= article.img_url %>" width="300px" alt="">
      <p><%= article.title %></p>
      <p><%= article.content %></p>
      <p><%= article.category %></p>
      <p><%= article.author %></p>
      <!-- <a href="/articles/<%= article.id %>/edit"><button type="button" name="button">Edit</button></a> -->
    </div>
    <button class="edit-btn" type="button" name="button">EDIT</button>
    <a href="/articles"><button class="back-btn" type="button" name="button">BACK</button></a>

    <div class="edit-modal-container">
      <div class="edit-modal-content">
        <form method="POST" action="/articles/<%= article.id %>?_method=put">
          <div>
            Title
          </div>
          <div>
            <input type="text" name="article[title]" placeholder="title" value="<%= article.title %>">
          </div>
          <div>
            Image
          </div>
          <div>
            <input type="text" name="article[img_url]" placeholder="image url" value="<%= article.img_url %>">
          </div>
          <div>
            Text Field
          </div>
          <div>
            <textarea name="article[content]" placeholder="write"><%= article.content %></textarea>
          </div>
          <div>
            Category
          </div>
          <div>
            <select class="" name="article[category]">
              <option value="1">A</option>
              <option value="2">B</option>
              <option value="3">C</option>
              <option value="4">D</option>
            </select>
          </div>
          <div>
            Author
          </div>
          <div>
            <input type="text" name="article[author]" placeholder="name" value="<%= article.author %>">
          </div>
          <div>
            <input type="hidden" name="article[id]" value="<%= article.id %>">
          </div>
          <div>
            <button type="submit">Submit Change</button>
            <button class="close-edit-modal-btn">CLOSE</button>
          </div>
        </form>
        <button class="open-modal-btn" name="button">DELETE</button>
      </div>
    </div>

    <div class="delete-modal-container">
      <div class="delete-modal-content">
        <p>
          Are you sure you want to delete?
        </p>
        <button class="delete-article" data-id=<%= article.id %>>DELETE</button>
        <button class="close-modal-btn">CLOSE</button>
      </div>
    </div>


  </body>
</html>
