<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <!-- <a class="" href="/articles/new">+</a> -->
    <div class="show-wrapper">
      <div class="container">
        <div class="wrapper">
          <div class="article-wrapper">
            <img src="<%= article.img_url %>" alt="">
            <div class="article-container">
              <p class="category-font"><%= article.category %></p>
              <p class="title-font"><%= article.title %></p>
              <p class="author-font"><%= article.author %></p>
              <p class="date-font"><%= article.date_created %></p>
              <p class="content-font"><%= article.content %></p>
              <button class="edit-btn" type="button" name="button">EDIT</button>
              <a href="/articles"><button class="back-btn" type="button" name="button">BACK</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="edit-modal-container">
        <div class="edit-modal-content">
          <form class="edit-form" method="POST" action="/articles/<%= article.id %>?_method=put">
            <div class="input-title">
              Title
            </div>
            <div>
              <input type="text" name="article[title]" placeholder="title" value="<%= article.title %>">
            </div>
            <div class="input-title">
              Image
            </div>
            <div>
              <input type="text" name="article[img_url]" placeholder="image url" value="<%= article.img_url %>">
            </div>
            <div class="input-title">
              Text Field
            </div>
            <div>
              <textarea name="article[content]" placeholder="write"><%= article.content %></textarea>
            </div>
            <div class="input-title">
              Category
            </div>
            <div>
              <select class="" name="article[category]">
                <option value="<%= article.category %>"><%= article.category %></option>
                <option value="Culture">Culture</option>
                <option value="Art and Design">Art and Design</option>
                <option value="Architecture">Architecture</option>
                <option value="People">People</option>
              </select>
            </div>
            <div class="input-title">
              Author
            </div>
            <div>
              <input type="text" name="article[author]" placeholder="name" value="<%= article.author %>">
            </div>
            <div>
              <input type="hidden" name="article[id]" value="<%= article.id %>">
            </div>
            <button class="submit-change-btn" type="submit">SUBMIT</button>
            <button class="close-edit-modal-btn">CLOSE</button>
          </form>
          <!-- button container -->
          <div class="row btn-container">
            <div class="col s2 push-s10">
              <button class="open-modal-btn" name="button"><i class="fa fa-trash fa-1x" aria-hidden="true"></i></button>
            </div>
          </div> <!-- /button -->
        </div> <!-- /edit-modal-content -->
      </div> <!-- /edit-modal-container -->

      <div class="delete-modal-container">
        <div class="delete-modal-content">
          <p>
            Are you sure you want to delete?
          </p>
          <button class="delete-article" data-id=<%= article.id %>>DELETE</button>
          <button class="close-modal-btn">CLOSE</button>
        </div>
      </div>


    </div>
  </body>
</html>
